$text-black-color: #1b1a1a;
$text-white-color: #cad5df;
$box-background: rgba(67, 98, 70, 0.5);
$hover-color: rgba(43, 255, 0, 0.8);
$logo-color: rgba(217, 255, 0, 0.8);
$h-style: "Inter", sans-serif;
$text-style: "Roboto", sans-serif;
$logo-style: "Dancing Script", sans-serif;
//
$mobile: 450px;
$tablet: 768px;
$desktop: 1200px;
