$text-black-color: #1b1a1a;
$text-white-color: #ccd6df;
$box-background: rgba(57, 57, 83, 0.5);
$hover-color: #04eb73;
$logo-color: #e0e5d2d6;
$h-style: "Inter", sans-serif;
$text-style: "Roboto", sans-serif;
$logo-style: "Dancing Script", sans-serif;
