$text-black-color: #1b1a1a;
$text-white-color: #ccd6df;
$box-background: rgba(57, 57, 83, 0.5);
$hover-color: rgba(217, 255, 0, 0.8);
$logo-color: rgba(217, 255, 0, 0.8);
$h-style: "Inter", sans-serif;
$text-style: "Roboto", sans-serif;
$logo-style: "Dancing Script", sans-serif;
