.footer-container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  font-family: $logo-style;
  font-weight: 700;
  font-size: 45px;
  color: $logo-color;
}

.address {
  margin-top: 25px;
}

.street {
  font-size: $text-style;
  color: $text-white-color;
  font-weight: 700;
  font-size: 22px;
}

.number {
  font-size: $text-style;
  color: $text-white-color;
  font-weight: 700;
  font-size: 15px;
  margin-top: 15px;
}

.footer-pages__box {
  margin-left: 100px;
}

.footer-pages__title {
  color: $text-white-color;
  font-family: $h-style;
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 24px;
}

.footer__list {
  display: flex;
  margin-top: 20px;
}

.footer__list .footer__item + .footer__item {
  margin-left: 15px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: rgb(225, 205, 205);
  border-radius: 50%;
}

.footer__icon {
  width: 40px;
  height: 40px;
}
