.also-work {
  padding-top: 100px;
  padding-bottom: 100px;
}

.also-work__title {
  color: $text-white-color;
  font-family: $h-style;
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.also-work__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.also-work__list .also-work__item + .also-work__item {
  margin-left: 20px;
}

.also-work__box {
  display: block;
  background-color: $box-background;
  color: $text-white-color;

  width: 270px;
}

.also-work__text {
  color: $text-white-color;
  font-family: $text-style;
  font-weight: 400;
  font-size: 25px;
  line-height: 24px;
}
