.card {
  padding-top: 60px;
  padding-bottom: 60px;
}

.card__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 30px;
}

.card__box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(21, 29, 20, 0.4);
  color: $text-white-color;
  width: 370px;
  height: 160px;
  border-radius: 10px;
}

.card__info {
  padding: 20px;
  width: 370px;
}

.card__text {
  color: $text-white-color;
  font-family: $text-style;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
}
