.hero {
  max-width: 1600px;
  background-image: url(../images/img-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 250px;
  padding-bottom: 250px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

.hero__title {
  color: $text-white-color;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
}

.hero__text {
  color: $text-white-color;

  margin: 0 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;

  margin-left: auto;
  margin-right: auto;
}
